<div class="container">
  <div class="wrapper">

    <div class="row">
      <div class="col-xs-2">
        <%= link_to "Add Calendar", new_calendar_path() %>
      </div>
      <div class="col-xs-2">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete  %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h2>Your Calendars</h2>

        <div class="calendar_list">
          <% @calendars.each do |calendar| %>
          <div class="row">
            <div class="col-xs-12">
              <span style="background-color:<%= calendar.color %>" class="circle circle_icon"></span>
              <%= link_to calendar.name, calendar_path(calendar) %>
            </div>
          </div>
          <% end %>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h2>Your Open Invites</h2>

        <div class="calendar_list">
          <% @invites.each do |invite| %>
          <div class="row">
            <div class="col-xs-12">
              Invite from: <%= User.find(invite.user_id).email %><br>
              Calendar: <%= Calendar.find(invite.calendar.id).name %><br>
              <%= link_to "Accept", accept_path(calendar_id:Calendar.find(invite.calendar.id)) %> / <%= link_to "Decline", decline_path(calendar_id:Calendar.find(invite.calendar.id)) %>
            </div>
          </div>
          <% end %>
        </div>

      </div>
    </div>


  </div>
</div>
