<div class="container">
  <div class="menu">
    <div class="row">
      <div class="col-xs-2">
        <%= link_to "Home", root_path %>
      </div>
      <div class="col-xs-2">
        <%= link_to "Edit Calendar", edit_calendar_path(@calendar) %>
      </div>
      <div class="col-xs-2">
        <%= link_to "Share Calendar", search_path(), "data-toggle" => "modal", "data-target" => "#myModal" %>
      </div>

      <div class="col-xs-2">
        Delete Calendar
      </div>
      <div class="col-xs-2">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete  %>
      </div>
    </div>
  </div>
</div>

<div class="calendar_heading" style="background-color:<%= @calendar.color%>">
  <div class="row">
    <div class="col-xs-4">
      <h3><%= Time.now().strftime("%B") %></h3>
    </div>
    <div class="col-xs-4 text-center calendar_name">
      <h3><%= @calendar.name %> Calendar</h3>
    </div>
    <div class="col-xs-4 text-right">
      <%= link_to new_calendar_event_path(@calendar) do%>
      <h3><i class="fa fa-plus-circle"></i> Add Event</h3>
      <% end %>
    </div>
  </div>
</div><!-- calendar_heading -->

<div class="calendar_body">

  <% @calendar.events.order(start_date: :asc, start_time: :asc).each do |event| %>
  <div class="row">
    <div class="col-xs-12">
      <h2><%= event.start_date.strftime("%A %b %d, %Y") %></h2>
      <hr>
    </div>
  </div><!-- row -->

  <div class="row event_detail">
    <div class="event_time">
      <%= event.start_time.strftime("%I:%M %p") %>
    </div>
    <div class="event_descrip">
      <div class="row">
        <div class="col-xs-12">
          <%= event.description %>
          <%= link_to edit_calendar_event_path(@calendar, event) do %>
          <i class="fa fa-pencil"></i>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          Attending:
        </div>
      </div>
    </div>
  </div><!-- row -->


  <% end %>
</div><!-- calendar_body -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Send invite to user</h4>
      </div>

      <div class="modal-body">
        <%= form_tag search_path, method: :post, class:"form-horizontal" do%>
          <div class="box-body">

            <div class="row">
                <div class="col-xs-12" id="last_name_div">
                  <%= hidden_field_tag "calendar_id", "#{@calendar.id}" %>
                  <%= text_field_tag "email", nil, placeholder: 'User email...' %>
                </div>
            </div><!-- /.row -->

          </div><!-- /.box-body -->
        </div><!-- /.modal-body -->

        <div class="modal-footer">
          <%= submit_tag 'Submit', class:"btn btn-info pull-right" %>
        </div>
      <% end %>

    </div><!-- End Modal Content  -->
  </div><!-- End Modal Dialog -->
</div> <!-- End Modal  -->
